.App {
  text-align: center;
}
.nav.active{
   background-color: #DCFCE7;
   color:#555;
   font-size: 16px;
   font-weight: 600;
   /* margin-top: 4px; */
}

@media (min-width: 600px) {
   .mnl-width{
      width: 180px !important;
   }
}
.animate-open-form {
   animation: slowOpen 0.3s linear;
}

@keyframes slowOpen {
   0% {
      transform: scale(0.9);
   }
   100% {
      transform: scale(1);
   }
}
.animate-close-form {
   animation: slowClose 0.2s linear;
}

@keyframes slowClose {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}

/* Chart.js */
.custom-height{
   height: 70vh;
}
.animate-blink{
   animation: blink infinite 1s;
}
@keyframes blink {
   50%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}